app-quote-form, app-quote-form-details{
    display: flex;
    flex-direction:column;
}

.quotes{
    width: 260px;
    height: 140px;
    border: 2px solid black;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.happy{
    text-align: center;
    margin-top: 20px;
}

.p{
    margin-bottom: 10px;
}