<div class="container">
  <h1>App Quotes</h1>
<hr>
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
    <li highlight>{{quote.id}} {{quote.quote}} {{quote.author}} {{quote.name}}</li>
    <!-- <button (click)=''>Toggle Details</button> -->
    <!-- <app-quote-details
    *ngIf="quote.showQuote"
    [quote]="quotes"
    (isComplete)="deleteQuote($event, i)"
  >
  </app-quote-details> -->
  </div>
</ul>

<p *ngIf='quotes.length>0'></p>
<div class="col-md-6">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
</div>