<br><br>
<h2>UPDATED QUOTES</h2>
<div class="container">
    <br><br>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Better three hours too soon than a minute too late</p>
      </div>
      <div class="quote">
          <a href=""><i class="fa fa-thumbs-up">upvote</i>0</a><br>
          <a href=""><i class="fa fa-thumbs-down">downvote</i>0</a>
    </div>
    <br><br>
    <button class="btn-success">show details</button>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Time is the most valuable thing a man can spend</p>
      </div>
      <div class="quote">
        <a href=""><i class="fa fa-thumbs-up">upvote</i>0</a><br>
        <a href=""><i class="fa fa-thumbs-down">downvote</i>0</a>
  </div>
  <button class="btn-success">show details</button>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Time is the wisest counsellor of all</p>
      </div>
      <div class="quote">
        <a href=""><i class="fa fa-thumbs-up">upvote</i>0</a><br>
        <a href=""><i class="fa fa-thumbs-down">downvote</i>0</a>
  </div>
  <button class="btn-success">show details</button>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Time flies over us, but leaves its shadow behind</p>
      </div>
      <div class="quote">
        <a href=""><i class="fa fa-thumbs-up">upvote</i>0</a><br>
        <a href=""><i class="fa fa-thumbs-down">downvote</i>0</a>
  </div>
  <button class="btn-success">show details</button>
    </div>
  </div>