<div class="card-group">
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Better three hours too soon than a minute too late</p>
      </div>
      <div class="quote">
          <a href=""><i class="fa fa-thumbs-up">upvote</i></a>
          <input type="number" id="input1" value="0" name="e">
          <a href=""><i class="fa fa-thumbs-down">downvote</i></a>
        <input type="number" id="input1" value="0" name="e">
    </div>
    <button class="btn-success">show details</button>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Time is the most valuable thing a man can spend</p>
      </div>
      <div class="quote">
        <a href=""><i class="fa fa-thumbs-up">upvote</i></a>
        <input type="number" id="input1" value="0" name="e">
        <a href=""><i class="fa fa-thumbs-down">downvote</i></a>
      <input type="number" id="input1" value="0" name="e">
  </div>
  <button class="btn-success">show details</button>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Time is the wisest counsellor of all</p>
      </div>
      <div class="quote">
        <a href=""><i class="fa fa-thumbs-up">upvote</i></a>
        <input type="number" id="input1" value="0" name="e">
        <a href=""><i class="fa fa-thumbs-down">downvote</i></a>
      <input type="number" id="input1" value="0" name="e">
  </div>
  <button class="btn-success">show details</button>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Time flies over us, but leaves its shadow behind</p>
      </div>
      <div class="quote">
        <button class="w3-button w3-green">Accept</button>
        <button class="w3-button w3-red">Decline</button>
  </div>
  <button class="btn-success">show details</button>
    </div>
  </div>