<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form>
        <div class="form-control">
  
            <label for="name">Author</label>
            <input type="text" required class="form-control" id="name">
  
        <br>

  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <br>
        <div class="form-control">
  
            <label for="description">QUOTE</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <br>
        <button class="btn btn-success">post quote</button>

    </form>
    
